<div class="wa-sidebar">

  <!-- HEADER -->
  <header class="wa-sidebar-header">
    <h2>Chats</h2>
  </header>

  <!-- LISTA DE CHATS -->
  <div class="wa-chat-list">
    @for (chat of chats(); track chat.id) {
      <a
        class="wa-chat-item"
        [routerLink]="['/chats', chat.id]"
        routerLinkActive="active"
      >
        <img [src]="chat.avatar" alt="avatar" />

        <div class="wa-chat-info">
          <div class="wa-chat-top">
            <span class="name">{{ chat.name }}</span>
          </div>

          <div class="wa-chat-bottom">
            @if (chat.status === 'online') {
              <span class="status online">en línea</span>
            } @else {
              <span class="status offline">últ. vez hace un rato</span>
            }
          </div>
        </div>
      </a>
    }
  </div>

  <!-- BOTÓN NUEVO CHAT -->
  <a routerLink="/nuevo" class="wa-new-chat">
    + Nuevo chat
  </a>

</div>
