.app-layout {
  display: flex;
  height: 100vh;
}

/* PANEL IZQUIERDO */
.sidebar {
  width: 320px;
  border-right: 1px solid #ddd;
}

/* PANEL DERECHO */
.content {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}
